/* Variables */
$text-color: #444;

/* Global */
* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #444444;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Buttons */

.btn_submit {
  text-decoration: none;
  border: 1px solid $text-color;
  padding: 10px;
  color: #e2e2e2;
  color: 20px;
  border-radius: 4px;
  font-size: 18px;
  background-color: #0530be;
  transition: background 300ms ease;
}

.btn_submit:hover {
  color: #e2e2e2;
  background-color: #05258b;
}

.btn_outlined {
  text-decoration: none;
  border: 1px solid$text-color;
  padding: 10px;
  color: $text-color;
  color: 20px;
  border-radius: 4px;
  font-size: 18px;
  background-color: transparent;
  transition: background 300ms ease;
}

.btn_outlined:hover {
  color: $text-color;
  background-color: #e2e2e2;
}

/* NavBar */

header {
  z-index: 999;
  max-width: 1400px;
  padding: 16px;
  margin: auto;
  height: 65px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  height: 65px;
}

.nav_logo a {
  text-decoration: none;
  font-weight: 600;
  color: #2c2c2c;
  font-size: 22px;
}

.nav_links {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 30px;
}

.nav_links .link {
  text-decoration: none;
  color: $text-color;
}

.nav_separator {
  color: $text-color;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: grey;
  margin: 5px;
  transition: all 0.25s ease-in-out;
}

@media (max-width: 650px) {
  .nav_links {
    display: none;
  }

  .nav_separator {
    display: none;
  }

  .burger {
    display: block;
  }
}

/* Front Page */

.front_page {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 400px;
  min-height: calc(100vh - 400px);
  align-items: center;
  gap: 50px;
  padding: 70px 16px;
  max-width: 1400px;
  margin: auto;
}

.front_page_text {
  display: grid;
  gap: 40px;
  width: fit-content;
}

.front_page_text h1 {
  font-size: 42px;
  margin: 0;
}

.front_page_text p {
  font-size: 24px;
  color: $text-color;
}

.buttons_container {
  display: flex;
  gap: 10px;
}

.buttons_container button a {
  text-decoration: none;
  color: $text-color;
}

.front_page img {
  width: 600px;
  height: auto;
  max-width: 100%;
  border-radius: 4px;
  margin: auto;
}

@media (max-width: 900px) {
  .front_page {
    grid-template-columns: 1fr 300px;
  }

  .front_page_text h1 {
    font-size: 32px;
  }

  .front_page_text p {
    font-size: 18px;
  }
}

@media (max-width: 740px) {
  .front_page {
    grid-template-columns: 1fr;
  }
}

/* Footer */
.footer {
  width: 100%;
  display: flex;
  background-color: rgb(242, 240, 240);
  padding: 20px;
}

.footer-row {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .footer-row {
    display: grid;
    place-content: center;
  }
}

.footer-col {
  font-size: 1.05rem;
  margin: 0 1rem 1rem 1rem;
}

.footer-col p {
  color: #000;
  font-weight: initial;
  margin: 0;
}

.footer-col a {
  color: #000;
  text-decoration: none;
}

.footer-col h4 {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 35px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--secundary-color);
  height: 2px;
  box-sizing: border-box;
  width: 100px;
}

.footer-col li {
  padding-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  transition: 0.25s linear;
}

.footer-col a:hover {
  color: grey;
}

.social-links i {
  width: 40px;
  height: 30px;
}

/* Catalogo */

.catalogo_section {
  min-height: calc(100vh - 400px);
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 70px 16px;
  align-items: center;
}

.movies_grid {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

.movies_grid li h5 {
  color: $text-color;
  font-size: 20px;
}

.movies_grid li img {
  width: 300px;
  max-width: 100%;
}

/* About */

.about_section {
  min-height: calc(100vh - 400px);
  max-width: 1400px;
  margin: auto;
  padding-top: 70px;
  align-items: center;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 70px 16px;

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 20px 0;
  }

  div {
    display: grid;
    gap: 40px;
    margin-top: 40px;

    img {
      width: 300px;
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      margin: auto;
    }

    h5 {
      font-size: 20px;
      color: $text-color;
    }
  }

  @media (max-width: 650px) {
    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 20px;
    }
  }
}

/* Contact */

.contact_section {
  min-height: calc(100vh - 400px);
  padding: 70px 16px;
  max-width: 1400px;
  margin: auto;
  align-items: center;
  display: flex;
  gap: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact-in {
  width: 100%;
  max-width: 900px;
  margin: 0px 60px 0 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #e2e2e2;

  div {
    width: 100%;
    flex: 50%;
    padding: 16px;
    text-align: center;

    h3 {
      margin-bottom: 40px;
      font-size: 24px;
    }
  }

  input {
    width: 90%;
    height: 40px;
    color: $text-color;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
  }

  textarea {
    width: 90%;
    height: 130px;
    color: $text-color;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    resize: none;

    &::placeholder {
      color: $text-color;
    }
  }
}

/* Movie Detail */

.movie_details_section {
  min-height: calc(100vh - 400px);
  padding: 16px;
  max-width: 1400px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  color: $text-color;
  padding: 70px 16px;

  h1 {
    font-size: 42px;
    color: #000;
  }

  div {
    display: grid;
    gap: 10px;

    h3 {
      color: $text-color;
      font-size: 18px;

      span {
        color: #000;
        font-weight: 600;
        font-size: 20px;
      }
    }

    p {
      color: $text-color;
      font-size: 18px;

      span {
        color: #000;
        font-weight: 600;
      }
    }
  }

  img {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 32px;
    }
  }

  @media (max-width: 750px) {
    display: grid;
    place-content: center;
    text-align: center;
  }
}
